body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: grey;
}
button {
  margin: 5px;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 15px;
  padding: 2px;
  width: 7%;
  border-radius: 3px;
}

#reset {
  background-color: red !important;
  width: 10%;
  padding: 0px;
  height: 5%;
}

span {
  margin-right: 5px;
}

.page {
  position: absolute;
  left: 17%;
  top: 10%;
  padding: 5%;
  background-color: #fff;
  text-align: center;
  height: 60%;
  width: 60%;
  box-shadow:2px solid rgba(10, 5, 15, 0.5);
  border-radius: 10px;
  
}
input{
  line-height: 7px;
  height: 20px;
  border: none;
  border-bottom: 1px solid purple;
  border-radius: 3px;
}
input:focus{
  border: none;
}